loguru>=0.7.0
pyaudio>=0.2.13
openai>=1.0.0
numpy>=1.21.0
customtkinter>=5.2.0
openai-whisper==20240930
Wave==0.0.2
anthropic==0.76.0
# mac need install pyaudio by homebrew first ,use command :`brew install portaudio`
sounddevice==0.5.3; sys_platform == 'darwin'
--extra-index-url https://download.pytorch.org/whl/cu117
torch==2.3.1
psutil==7.2.2